---
# Copyright (c) 2024 Advanced Micro Devices, Inc. All rights reserved.
# yamllint disable rule:line-length
- name: "Prepare amdgpu + ROCm"
  hosts: default
  become: true
  environment:  # may be superfluous for your environment; mapped through Packer HCL with 'ansible_env_vars'
    http_proxy: "{{ lookup('ansible.builtin.env', 'http_proxy') | default(omit) }}"
    https_proxy: "{{ lookup('ansible.builtin.env', 'https_proxy') | default(omit) }}"
    no_proxy: "{{ lookup('ansible.builtin.env', 'no_proxy') | default(omit) }}"
  vars:
    rocm_installed: false  # only install 'amdgpu-dkms' and 'extra packages' by default; must opt into ROCm
    rocm_default: '6.2.2'
    rocm_requests: "{{ (rocm_releases | split(',')) if rocm_releases is defined else [rocm_default] }}"
    rocm_gpg_url: 'https://repo.radeon.com/rocm/rocm.gpg.key'
    rocm_repos: true  # controls if this play manages the repositories or assumed elsewhere
    rocm_reqs:
      common:
        - "autoconf"
        - "curl"
        - "dkms"
        - "ethtool"
        - "infiniband-diags"
        - "libtool"
        - "lldpd"
        - "mdadm"
        - "net-tools"
        - "rdma-core"
        - "strace"
        - "unzip"
        - "wget"
        - "zip"
      Debian:
        - "libavcodec-dev"
        - "libavformat-dev"
        - "libavutil-dev"
        - "libdrm-amdgpu1"
        - "libdrm2"
        - "libdrm-dev"
        - "libva2-amdgpu"
        - "libva-amdgpu-dev"
        - "libva-amdgpu-drm2"
        - "libva-amdgpu-wayland2"
        - "libva-amdgpu-x11-2"
        - "linux-headers-{{ ansible_kernel }}"
        - "linux-modules-extra-{{ ansible_kernel }}"
        - "mesa-common-dev"
      RedHat:
        - "kernel-headers"
        - "kernel-devel-matched"
        - "kernel-modules-extra"
        - "libva-amdgpu"
        - "libva-utils"
        - "libva-amdgpu-devel"
    rocm_fedora_el: '9.4'  # NOTE: placeholder, for testing: assume equivalence between this RHEL release and 'current Fedora'
  tasks:

    - name: "Sort ROCm version requests"
      ansible.builtin.set_fact:
        rocm_release_peak: "{{ (rocm_requests | community.general.version_sort) | last }}"

    - name: RedHat repository tasks
      when:
        - ansible_os_family in ['RedHat']
        - rocm_repos is truthy(convert_bool=True)
      block:
        - name: "Manage 'amdgpu' Yum repositories"
          ansible.builtin.yum_repository:
            baseurl: "https://repo.radeon.com/amdgpu/{{ rocm_release_peak }}/el/{{ rocm_fedora_el if ansible_distribution in ['Fedora'] else ansible_distribution_version }}/main/{{ rpmrepo.subdir }}/"
            description: "AMDGPU {{ rocm_release_peak }} repository"
            enabled: "{{ rpmrepo.enabled | default(true) }}"
            file: amdgpu
            gpgkey: "{{ rocm_gpg_url }}"
            name: "{{ rpmrepo.name }}"
          loop:
            - { name: amdgpu, subdir: "{{ ansible_architecture }}" }
            - { name: amdgpu-src, subdir: "source", enabled: false }
          loop_control: { loop_var: rpmrepo }

        - name: "Manage versioned ROCm Yum repositories"
          ansible.builtin.yum_repository:
            baseurl: "https://repo.radeon.com/rocm/el{{ (rocm_fedora_el | split('.') | first) if ansible_distribution in ['Fedora'] else ansible_distribution_major_version }}/{{ rocm_release }}/main"
            description: "ROCm {{ rocm_release }} repository"
            gpgkey: "{{ rocm_gpg_url }}"
            name: rocm
          loop: "{{ rocm_requests }}"
          loop_control: { loop_var: rocm_release }

        - name: "Ensure CodeReady Builder+EPEL for RHEL/derivatives [that aren't Fedora]"
          when: ansible_distribution not in ['Fedora']
          block:
            - name: "Manage CRB"
              community.general.dnf_config_manager:
                name: crb
                state: enabled

            - name: "Ensure EPEL"
              ansible.builtin.package:
                name: "{{ epel[ansible_distribution] | default('epel-release') }}"  # CentOS/etc provide 'epel-release'; RedHat and others may require download
                state: present
              vars:
                epel:
                  RedHat: "https://dl.fedoraproject.org/pub/epel/epel-release-latest-{{ ansible_distribution_major_version }}.noarch.rpm"

    - name: Debian repository tasks
      when:
        - ansible_os_family in ['Debian']
        - rocm_repos is truthy(convert_bool=True)
      block:

        - name: "Fetch signing key for Apt"
          ansible.builtin.apt_key:
            url: "{{ rocm_gpg_url }}"
            keyring: /etc/apt/trusted.gpg.d/rocm.gpg

        - name: "Manage 'amdgpu' APT repository"
          ansible.builtin.apt_repository:
            repo: >
              deb [arch=amd64 signed-by=/etc/apt/trusted.gpg.d/rocm.gpg]
              https://repo.radeon.com/amdgpu/{{ rocm_release_peak }}/{{ ansible_distribution | lower }}/ {{ ansible_distribution_release }} main
            state: present
            filename: amdgpu

        - name: "Manage versioned ROCm Apt repositories"
          ansible.builtin.apt_repository:
            repo: >
              deb [arch=amd64 signed-by=/etc/apt/trusted.gpg.d/rocm.gpg]
              https://repo.radeon.com/rocm/apt/{{ rocm_release }} {{ ansible_distribution_release }} main
            state: present
            filename: rocm
          loop: "{{ rocm_requests }}"
          loop_control: { loop_var: rocm_release }

    - name: "Install Requirements"
      ansible.builtin.package:
        name: "{{ rocm_reqs['common'] + rocm_reqs[ansible_os_family] }}"
        state: present
        update_cache: true  # passed to the modules for either 'apt' or 'dnf'; supported by either

    - name: "Install any 'extra' packages before 'amdgpu' or ROCm"
      ansible.builtin.package:
        name: "{{ rocm_extras | split(',') }}"
        state: present
        update_cache: true
        allow_downgrade: true  # one may specify previous releases, downgrading may be required to satisfy the request(s)
      when: rocm_extras is defined

    - name: "Install '{{ _amdgpu_pkgs }}'"
      ansible.builtin.package:
        name: "{{ _amdgpu_pkgs }}"
        state: present
        allow_downgrade: true  # similar to 'extras', users may ask for a previous release of 'amdgpu' (requiring downgrades)
      vars:
        _amdgpu_pkgs: "{{ (rocm_amdgpu_pkgs | split(',')) if rocm_amdgpu_pkgs is defined else ['amdgpu-dkms'] }}"

    - name: "Install ROCm releases (when 'rocm_installed' is truthy)"
      ansible.builtin.package:
        name: "rocm{{ _rel }}"
        state: present
      loop: "{{ rocm_requests | community.general.version_sort }}"
      loop_control: { loop_var: _rel }
      when: rocm_installed is truthy(convert_bool=True)

# vim: ft=yaml.ansible
